@page
@model ZelisTrainingRazorWebApp.Pages.ZelisModel
@{
}
<h2> Welcome to Zelis Training Portal</h2>
<a class="nav-link text-dark" asp-area="" asp-page="/Employees/Index">Employees</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-page="/Technologies/Index">Technologies</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-page="/Trainings/Index">Trainings</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-page="/Trainers/Index">Trainers</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-page="/Trainees/Index">Trainees</a>
<br />